{% extends 'institucion/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/admins/sinodales/nuevaSoli.js' %}"></script>
<div class="container col-md-10 col-lg-6 text-center">
    <img src="{% static 'img/gobierno_estado.png' %}" class="mb-3" alt="se" height="150">
    <form id="enviarSolicitud" action="{% url 'SETyRS_crear_solicitud_sinodal' %}" method="POST">
        {% csrf_token %}
        <p class="text-justify">
            Bienvenido al modulo para la solicitud y autorización de registro de Sinodales. 
            En este apartado se podrá realizar una solicitud para la autorización del registro de sus sinodales,
            para ello, tendrá que agregar la información correspondiente que se le vaya solicitando.
        </p>
            <label for="select_cct">¿Desde cual centro de trabajo se enviará la solicitud?</label>
            <select name="cct" style="text-align-last: center; margin-left: 33%;" class="form-control col-lg-4 text-center" id="select_cct" required>
                <option selected disabled hidden>Seleccione el centro de trabajo</option>
                {% for centro in centrosRegistrados %}
                    <option value="{{centro.cct}}">{{centro.cct}}</option>
                {% endfor %}
            </select>
        <div id="buttonContainer">
            <button id="btnNuevaSoli" disabled="true"; type="submit" class="btn btn-primary mt-3">Crear solicitud</button>
        </div>
    </form>
</div>
{% endblock %}