*.pyc
*~
__pycache__
/migrations
/plataformase/Archivos/
/plataformase/__pycache__/
/plataformase/login/migrations/
/plataformase/login/__pycache__/
/plataformase/usuarios/migrations
/plataformase/RVOES/__pycache__
/plataformase/TBC/migrations
/plataformase/TBC/__pycache__
/plataformase/SigApp/__pycache__
/plataformase/SETyRS/__pycache__
.DS_Store
