{% extends 'admins/base.html' %} {% load static %} {% block content %} {% load index %}
<div class="container col-md-10 col-lg-11 text-center">
    <h2>Historial de solicitudes de sinodales</h2>
    <img src="{% static 'img/gobierno_estado.png' %}" class="mb-3" alt="se" height="150">
    <div class="container col-md-8">
        <div class="form-group">
            <select class="form-control" id="select" onchange="buscarSolicitud()">
                <option value="1">Todos</option>
                <option value="2">Aceptados</option>
                <option value="3">Rechazados</option>
            </select>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkBA" onclick="mostrarBA()">
            <label class="form-check-label" for="exampleCheck1">Busqueda avanzada</label>
        </div>
        <div class="container" id="BA" style="display: none;">
            <div class="row">
                <label class="form-check-label col-2" for="nombre">Nombre</label>
                <input type="text" class="form-control col" placeholder="Nombre del sinodal" id="nombre" onkeyup="buscar()">  
            </div>
            <div class="row mt-3">
                <label class="form-check-label col-2" for="rfc">RFC</label>
                <input type="text" class="form-control col" placeholder="RFC" id="rfc" onkeyup="buscar()">
            </div>
            <div class="row mt-3">
                <label class="form-check-label col-2" for="institucion">Institución</label>
                <input type="text" class="form-control col" placeholder="Nombre de la institución" id="institucion" onkeyup="buscar()">
            </div>
        </div>
    </div>
    <br>
    <table class="table table-striped table-hover" id="sinodales">
        <thead>
            <tr>

                <th scope="col">Solicitud</th>
                <th scope="col">Sinodal</th>
                <th scope="col">RFC</th>
                <th scope="col">Institución</th>
                <th scope="col">Estatus</th>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>

            </tr>
        </thead>
        <tbody>
            {% if historial %}
            {% for h in historial %}
            <tr>
                <td>{{h.solicitud_id}}</td>
                <td>{{h.sinodal.nombre_sinodal}}</td>
                <td>{{h.sinodal.rfc}}</td>
                <td>{{h.sinodal.institucion}}</td>
                <td>{{h.estatus}}</td>
                <td>{{h.fecha}}</td>
                <td>{{h.user.username}} - {{h.user.departamento_id}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <br>

    <!-- modal PDF viewer -->
<div id="viewPDF" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" style="max-width: max-content;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 5px 20px;">
                <h4 class="modal-title">Visualizador de archivos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <iframe id="PDFviewer" width="1000" height="540" type="application/pdf"></iframe>
        </div>
    </div>
</div>


</div>
<script src="{% static 'js/admins/sinodales/historial_actividades.js' %}"></script>
<script>
    function verArchivo(url) {
        var pdf = document.getElementById('PDFviewer')
        pdf.setAttribute("src", "{{MEDIA_URL}}" + url);
    }
</script>

{% endblock %}