{% load static %}
<!DOCTYPE >
<html>
<head>
    <meta charset="utf-8">
    
	<meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <link rel='stylesheet'   href="{% static '/css/nav.css' %}" type='text/css' media='all' />
    <link href="{% static '/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
</head>
<body  class="responsive">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a href="{% url 'perfil' %}" class="navbar-brand"><img src="{% static 'img/se.png' %}" width="120" height="40" style="margin-top: -5px;"/></a>
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.tipo_usuario == '4' %}
                      <li class="nav-item dropdown"><a  class="nav-link" href="{% url 'menuadmin' %}" >Menú</a></li>
                      <li class="nav-item dropdown"><a class="nav-link" href="{% url 'usuarios' %}">Ver Usuarios</a></li>
                      <li class="nav-item dropdown"><a class="nav-link"  href="{% url 'signup' %}">Registrar Usuarios</a></li>
                      {% endif %}
                      {% if user.tipo_usuario != '4' %}
                      <li class="nav-item dropdown"><a  class="nav-link" href="{% url 'perfil' %}">Menú</a></li>
                      {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>{{user.first_name}} {{user.last_name}} </strong>
                  </a>
                    <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                      <!-- <a class="dropdown-item" href="#">ér</a>
                      <a class="dropdown-item" href="#">Another action</a> -->
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout'%}">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header><br><br><br>
    <h2 align="center">Centros de Trabajo</h2>
    <small align="center" style="text-align: center; margin-left: 420px;">Lista de centros de trabajo pertenecientes a esta institución.También podrás añadir más centros de trabajo.</small>
							<br><br><hr><br>
    <div class="col-md-5" style="float: left; margin-left: 50px;">
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_cct">Clave de Centro de Trabajo</label>
                <div class="col-sm-7">
                <input class="form-control" type="text" name="cct" id="id_cct"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_nombredirector">Nombre del director del centro de trabajo</label>
                <div class="col-sm-7">
                <input class="form-control" type="text" name="nombredirector" id="id_nombredirector">
            </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_sector">Sector del centro de trabajo</label>
                <div class="col-sm-7">
                    <select class="custom-select col-5 m-2" name="sector" id="id_sector">
                        <option>Seleccione</option>
                        <option value="Público">Público</option>
                        <option value="Privado">Privado</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_nivel_educativo">Nivel educativo del centro de trabajo</label>
                <div class="col-sm-7">
                    <select class="custom-select col-5 m-2" name="nivel_educativo" id="id_nivel_educativo">
                        <option>Seleccione</option>
                        <option value="1">Media Superior</option>
                        <option value="2">Superior</option>
                        <option value="3">Ambos</option>
                    </select>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary text-center col-8"  style="text-align: center; margin-left: 75px;">Añadir</button>

        </form>
    </div>
    
        <div class="col-md-6" style="float: right; border-left:1px solid rgba(0, 0, 0, 0.288); margin-right: 50px;" >
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="bg-primary" >
                        <th class="" scope="col">CCT</th>
                        <th class="" scope="col">Director</th>
                        <th class="" scope="col">Sector</th>
                        <th class="" scope="col">Nivel educativo</th>
                        <th class="" scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in centros %}
                    <!-- {{ forloop.counter }} -->
                        <tr onclick="editarCCT(this.id)" id="row{{forloop.counter}}" >
                            <td class="" id="{{ element.cct }}">{{ element.cct }}</td>
                            <td class="">{{ element.nombredirector }}</td>
                            <td class="">{{ element.sector }}</td>
                            <td class="">
                                {% if element.nivel_educativo == '1' %}
                                    Media Superior
                                {% endif %}
                                {% if element.nivel_educativo == '2' %}
                                    Superior
                                {% endif %}
                                {% if element.nivel_educativo == '3' %}
                                    Ambos
                                {% endif %}
                            </td>
                            <td class="">
                                <div class="custom-control custom-switch">
                                    {% if element.is_active %}
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1"checked>
                                        <label class="custom-control-label" for="customSwitch1">Sí</label>
                                    {% else %}
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" >
                                        <label class="custom-control-label" for="customSwitch1">No</label>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            function editarCCT(usrConsulta){
                var renglonClickeado = document.getElementById(usrConsulta);
                var usr = renglonClickeado.children[0].id;
                console.log("hola");
                console.log("correo : "+usr);
                // console.log("correo : "+usr);
                window.location="editar/"+usr;
            };
          </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static '/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static '/js/jquery/jquery.slim.min.js'%}"></script>
    
</body>
</html>