{% load static %}
<!DOCTYPE >
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/h.css' %}" type='text/css' media='all' >
    <script src="{% static '/js/jquery/jquery.min.css' %}""></script>
    <!---- jquery link local dont forget to place this in first than other script or link or may not work ---->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!---- boostrap.min link local ----->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!---- boostrap.min link local ----->
    <!-- <script src="{% static '/js/bootstrap.min.js' %}"></script> -->
    <!---- Boostrap js link local ----->
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <!---- Icon link local ----->
    <title>{% block title %}Centros de trabajo{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #6092D9">
            <div class="container" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a target="_blank" href="#" class="navbar-brand"><img src="{% static 'img/se.png' %}" width="120" height="40" style="margin-top: -5px;"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'perfil' %}" target="_blank">Menú de institución</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>{{user.first_name}}</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{user.first_name}} {{user.last_name}}</strong></p>
                                                <p class="text-left small">{{user.username}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header><br><br><br>
    <h2 align="center">Centros de Trabajo</h2>
    <small align="center" style="text-align: center; margin-left: 420px;">Lista de centros de trabajo pertenecientes a esta institución.También podrás añadir más centros de trabajo.</small>
							<br><br><hr><br>
    <div class="col-md-6" style="float: left;">
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_cct">Clave de Centro de Trabajo</label>
                <div class="col-sm-7">
                <input class="form-control" type="text" name="cct" id="id_cct"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_nombredirector">Nombre del director del centro de trabajo</label>
                <div class="col-sm-7">
                <input class="form-control" type="text" name="nombredirector" id="id_nombredirector">
            </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_sector">Sector del centro de trabajo</label>
                <div class="col-sm-7">
                <select class="custom-select " name="sector" id="id_sector">
                    <option>Seleccione</option>
                    <option value="Público">Público</option>
                    <option value="Privado">Privado</option>
                </select>
            </div></div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="id_nivel_educativo">Nivel educativo del centro de trabajo</label>
                <div class="col-sm-7">
                <select class="custom-select col-2 m-2" name="nivel_educativo" id="id_nivel_educativo">
                    <option>Seleccione</option>
                    <option value="1">Media Superior</option>
                    <option value="2">Superior</option>
                    <option value="3">Ambos</option>
                </select>
            </div></div>

            <button type="submit" class="btn btn-primary text-center"  style="text-align: center;">Añadir</button>

        </form>
    </div>
        <div class="col-md-6" style="float: right;">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="bg-primary" >
                        <th class="" scope="col">CCT</th>
                        <th class="" scope="col">Director</th>
                        <th class="" scope="col">Sector</th>
                        <th class="" scope="col">Nivel educativo</th>
                        <th class="" scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in centros %}
                    <!-- {{ forloop.counter }} -->
                        <tr onclick="editarCCT(this.id)" id="row{{forloop.counter}}" >
                            <td class="" id="{{ element.cct }}">{{ element.cct }}</td>
                            <td class="">{{ element.nombredirector }}</td>
                            <td class="">{{ element.sector }}</td>
                            <td class="">
                                {% if element.nivel_educativo == '1' %}
                                    Media Superior
                                {% endif %}
                                {% if element.nivel_educativo == '2' %}
                                    Superior
                                {% endif %}
                                {% if element.nivel_educativo == '3' %}
                                    Ambos
                                {% endif %}
                            </td>
                            <td class="">
                                <div class="custom-control custom-switch">
                                    {% if element.is_active %}
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1"checked>
                                        <label class="custom-control-label" for="customSwitch1">Sí</label>
                                    {% else %}
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" >
                                        <label class="custom-control-label" for="customSwitch1">No</label>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            function editarCCT(usrConsulta){
                var renglonClickeado = document.getElementById(usrConsulta);
                var usr = renglonClickeado.children[0].id;
                console.log("hola");
                console.log("correo : "+usr);
                // console.log("correo : "+usr);
                window.location="editar/"+usr;
            };
          </script>

    
</body>
</html>