{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro visitante</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static '/css/formulario.css' %}" type='text/css' media='all' >
    
</head>
<body>
    <div class="head">
        <h3>Solicitud de cuenta - Registro</h3>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="board">
                <ul class="nav nav-tabs">
                    <div class="liner"></div>
                    <li rel-index="0" class="active">
                        <a href="#step-1" class="btn" aria-controls="step-1" role="tab" data-toggle="tab">
                            <span><i class="glyphicon glyphicon-user"></i></span>
                        </a>
                    </li>
                    <li rel-index="1">
                        <a href="#step-2" class="btn disabled" aria-controls="step-2" role="tab" data-toggle="tab">
                            <span><i class="glyphicon glyphicon-plus"></i></span>
                        </a>
                    </li>
                    <li rel-index="2">
                        <a href="#step-3" class="btn disabled" aria-controls="step-3" role="tab" data-toggle="tab">
                            <span><i class="glyphicon glyphicon-ok"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="tab-content form-group" method="POST" action="../solicitudcuenta/" onsubmit="return validar()">
                {% csrf_token %}
                <div role="tabpanel" class="tab-pane active" id="step-1">
                    
                    <div class="col-md-12">
                        <h3>Complete los siguientes campos </h3>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mr-2" for="id_email">Correo: </label>
                                <input class="form-control col"  type="text" name="email" required id="id_email" placeholder="correo@dominio.com" onblur="verificar3()"pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_-]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                                <div class="row"><br>
                                    <div class="alert alert-warning col-md-4 "  role="alert" id="errore" style="width: 100%; float:left; display: none;">
                                    <small><strong> ¡Email no sigue el patrón!</strong>
                                    </small> </div>
                                </div>
                                <label class="mr-2" for="id_password">Contraseña: </label>
                                <input class="form-control col"  type="password" name="password" minlength="8" maxlength="20" onblur="verificar()" pattern="[A-Za-z0-9!?-]{8,12}" required id="id_password" placeholder="Contraseña" >
                                <small id="passwordHelpBlock" class="form-text text-muted" align="justify" ><br>
                                    Su contraseña no puede ser muy similar a su información personal, debe contener 8-20 caracteres,
                                    no puede ser de uso común y no puede ser enteramente numérica.
                                </small><br>
                                <div class="row">
                                    <div class="alert alert-warning col-md-4 "  role="alert" id="errorp" style="width: 100%; float:left; display: none;">
                                    <small><strong> ¡La contraseña no es valida!</strong>
                                    </small> </div>
                                </div>
                                <br>
                                <input class="form-control col" type="password" name="password2" minlength="8" maxlength="20" required id="id_password2" onblur="verificar2()" pattern="[A-Za-z0-9!?-]{8,12}"placeholder="Confirmar contraseña">
                            </div>
                            <div class="row">
                                <div class="alert alert-warning col-md-4 "  role="alert" id="diferente" style="width: 100%; float:left; display: none;">
                                <small><strong> ¡ Las contraseñas son diferentes !</strong>
                                </small> </div>
                            </div>
                        </div><br>

                            <div class="m-2 col-12 text-center" style="float: left;">
                                <label class="ml-2" for="id_tipo_usuario">Tipo de usuario:</label>
                                <select class="custom-select col-3" name="tipo_usuario" id="id_tipo_usuario" onchange="funcion()">
                                    <option value="1" selected >Institución</option>
                                    <option value="5">Particular</option>
                                </select>
                            </div>
                
                            <div class="m-2 col-12 text-center">
                                <label class="ml-1" for="id_tipo_persona">Tipo de persona:</label>
                                <select class="custom-select col-3" name="tipo_persona" id="id_tipo_persona" onchange="pmoral()">
                                    <option value="1" selected>Persona física</option>
                                    <option value="2">Persona moral</option>
                                </select>
                                <br>
                            </div><br><br><br><br><br><br><br>
                        <button id="step-1-next" type="submit" class="btn btn-lg btn-primary nextBtn pull-right" onclick="checar()">Siguiente</button>
                        <br><br><br>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="step-2">
                    <div class="col-md-12"><br>
                        <h3>Datos personales</h3>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="ml-2 col-1" for="id_first_name" id="lblnombres">Nombre(s):</label>
                                <input class="form-control ml-1 col-2" pattern ="[a-zA-ZáéíóúÁÉÍÓÚñ\s]+([0-9])*" type="text" name="first_name" required id="id_first_name">
                            </div>
                            <div class="form-group">
                                <label class="ml-1 col-1" for="id_last_name" id="lblapellidos">Apellidos:</label>
                                <input class="form-control ml-1 col-2" pattern ="[a-zA-ZáéíóúÁÉÍÓÚñ\s]{1,40}" type="text" name="last_name" required id="id_last_name">
                            </div>
                            <div class="form-group">
                                <label class="ml-1 col-1" for="id_curp_rfc" id="lblcurp">CURP:</label>
                                <input class="form-control ml-1 col-2" type="text" minlength="10" maxlength="18"  name="curp_rfc" required id="id_curp_rfc">
                                <a class="btn btn-secondary ml-1" href="http://consultas.curp.gob.mx" id="acurp" target="_blank">Consulta CURP</a>
                            </div>
                            <div class="form-group">
                                <label class="ml-1 col-1" for="id_celular">Teléfono celular:</label>
                                <input class="form-control ml-1 col-2" required type="tel" name="celular" id="id_celular" pattern="[0-9]{10,12}">
                                </div>
                                <div class="form-group">
                                    <label class="ml-1 col-1 "for="id_calle">Calle:</label>
                                    <input class="form-control ml-1 col-2" required type="text" name="calle" id="id_calle" pattern="[a-zA-ZáéíóúÁÉÍÓÚñ\s]{1,40}">
                                </div>
                                   
                                <div class="form-group">
                                    <label class="ml-1 col-1" for="id_colonia">Colonia:</label>
                                    <input class="form-control ml-1 col-2" required type="text" name="colonia" id="id_colonia">
                                </div>
                            </div>
                    
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label class="ml-2 mr-2" for="id_municipio">Municipio *:</label>
                                    <select  class="form-control col-2" name="municipio" id="id_municipio" required >
                                        <option disabled="" selected="" value="">Seleccione</option>
                                        <option value="Acaponeta"> Acaponeta </option>
                                        <option value="Ahucatlán"> Ahucatlán </option>
                                        <option value="Amatlán de caña"> Amatlán de cañas </option>
                                        <option value="Bahía de Banderas"> Bahía de Banderas </option>
                                        <option value="Compostela"> Compostela </option>
                                        <option value="Del Nayar"> Del Nayar </option>
                                        <option value="Huajicori"> Huajicori </option>
                                        <option value="Ixtlán del Rio"> Ixtlán del Rio </option>
                                        <option value="Jala"> Jala </option>
                                        <option value="La Yesca">La Yesca</option>
                                        <option value="Rosamorada">Rosamorada</option>
                                        <option value="Ruíz">Ruíz</option>
                                        <option value="San Blas">San Blas</option>
                                        <option value="San Pedro Lagunillas">San Pedro Lagunillas</option>
                                        <option value="Santa María del Oro">Santa María del Oro</option>
                                        <option value="Santiago Ixcuintla">Santiago Ixcuintla</option>
                                        <option value="Tecuala">Tecuala</option>
                                        <option value="Tepic">Tepic</option>
                                        <option value="Tuxpan">Tuxpan</option>
                                        <option value="Xalisco"> Xalisco </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                   <div class="form-group">
                                       <label class="ml-2" for="id_noexterior">No. Exterior:</label>
                                       <input class="form-control ml-2 mr-2 col-1" required type="number" name="noexterior" id="id_noexterior" >
                                   </div>
                               </div>
                                <div class="col-md-3">
                                   <div class="form-group">
                                       <label class="ml-2" for="id_nointerior">No. Interior:</label>
                                       <input class="form-control ml-2 mr-2 col-1" required type="number" name="nointerior" id="id_nointerior" >
                                   </div>
                               </div>
                                <div class="col-md-3">
                                   <div class="form-group">
                                       <label class="ml-2" for="id_codigopostal">Código postal:</label>
                                       <input class="form-control ml-2 col-1" required type="number" name="codigopostal" placeholder="63000" id="id_codigopostal" minlength="5" maxlength="5">
                                   </div>
                               </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group" id="datos_inst">
                                        <h3>Datos de institución</h3>*
                                        <small>Estos datos son obligatorios</small><br>
                                        <label class="ml-2 col-1" for="id_cct" style="text-align: left;">Clave del centro de trabajo :</label>
                                        <input type="text" name="cct"  id="id_cct" class="form-control col-2" pattern ="[a-zA-ZáéíóúÁÉÍÓÚñ\s]+([0-9])*"  >

                                        <label class="ml-2 col-1" for="id_nombre_director" style="text-align: left;">Nombre de director:</label>
                                        <input type="text" name="nombre_director"  id="id_nombre_director"pattern ="[a-zA-ZáéíóúÁÉÍÓÚñ\s]+([0-9])*" class="form-control ml-1 col-2"  >
                                        
                                        <label class="ml-2 col-1" for="id_sector" style="text-align: left;">Sector:</label>
                                        <select  class="form-control ml-2 col-1" name="sector" id="id_sector" required>
                                            <option disabled selected value="" >Seleccione</option>
                                            <option value="Publico"> Público </option>
                                            <option value="Privado"> Privado </option>
                                        </select>
                                        <label class="ml-2 col-1" for="id_nivel_educativo" style="text-align: left;">Nivel Educativo:</label>
                                        <select  class="form-control ml-2 col-1" name="nivel_educativo" id="id_nivel_educativo" required onchange="fmod()">
                                            <option disabled="" selected="" value="" >Seleccione</option>
                                            <option value="1"> Media superior </option>
                                            <option value="2"> Superior </option>
                                            <option value="3"> Ambos </option>
                                        </select>
                                        <div id="modalidad" style="display: none;">
                                            <label class="ml-2 col-1" for="id_modalidad" style="text-align: left;">¿Es modalidad Telebachillerato? :</label>
                                                    <select  class="form-control ml-2 col-1" name="modalidad" id="id_modalidad" required>
                                                        <option disabled="" selected="" >Seleccione</option>
                                                        <option value="0"> No </option>
                                                        <option value="1"> Sí </option>
                                                    </select>
                                                </div>
                                    </div>
                                </div>
                                <button id="step-2-next" class="btn btn-lg btn-primary nextBtn pull-right" type="submit">Enviar</button>
                                <a href="{% url 'login'%}"class="btn btn-lg  btn-danger pull-right" >Salir</a>
                        </div>
                        <br><br><br>   <br><br><br>
                       
                    </div>
                </div>
                <!-- <div role="tabpanel" class="tab-pane" id="step-3">
                    <div class="col-md-12"><br><br>
                        <h4>Enviando tu solicitud de registro a los administradores</h4>
                    </div>
                </div> -->
            </form>
            
        </div>
    </div>


    <script type="text/javascript">
    $(function() {
        // Nav Tab stuff
        $('.nav-tabs > li > a').click(function() {
            if($(this).hasClass('disabled')) {
                return false;
            } else {
                var linkIndex = $(this).parent().index() - 1;
                $('.nav-tabs > li').each(function(index, item) {
                    $(this).attr('rel-index', index - linkIndex);
                });
            }
        });
        $('#step-1-next').click(function() {
            // Check values here
            var isValid = true;
            
            if(isValid) {
                $('.nav-tabs > li:nth-of-type(2) > a').removeClass('disabled').click();
            }
        });
        $('#step-2-next').click(function() {
            // Check values here
            var isValid = true;
            
            if(isValid) {
                $('.nav-tabs > li:nth-of-type(3) > a').removeClass('disabled').click();
            }
        });
        $('#step-3-next').click(function() {
            // Check values here
            var isValid = true;
            
            if(isValid) {
                $('.nav-tabs > li:nth-of-type(4) > a').removeClass('disabled').click();
            }
        });
    });
    function fmod(){
        var nivel = document.getElementById("id_nivel_educativo").value;
        if (nivel == '1'){
            document.getElementById('modalidad').style.display = 'inline';
        }
        else { document.getElementById('modalidad').style.display = 'none';}
    }
    //Funciones para validar campos del formulario y mandar mensaje en caso de error
    function verificar(){
        //Función para validar contraseña
        var sel = document.getElementById("errorp");
        var pass = document.getElementById("id_password");
        var re = /[A-Za-z0-9!?-]{8,12}/;  
        var ps= re.exec(pass.value)
        if(!ps)
        {
            sel.style.display = 'inline';
        }
        else
        {sel.style.display = 'none';}    
    }
    function verificar2(){
        //Función para validar que las contraseñas sean iguales
        var sel = document.getElementById("diferente");
        var pass = document.getElementById("id_password2");
        var pass1 = document.getElementById("id_password");
        if(pass1.value!=pass.value)
        {
            sel.style.display = 'inline';
        }
        else
        {sel.style.display = 'none';}    
    }
    function checar(){
        
       
        var pass = document.getElementById("id_password2");
      
        if(pass.value=="")
        {
            alert("¡No pueden quedar campos vacios!");
        }
         
    }
    function verificar3(){
        //validar email
        var sel = document.getElementById("errore");
        var pass = document.getElementById("id_email");
        var re = /[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_-]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}/;  
        var ps= re.exec(pass.value)
        if(!ps)
        {
            sel.style.display = 'inline';
        }
        else
        {sel.style.display = 'none';}    
    }
        var ap = " ";
        var borrado = 0;
        function pmoral(){
            var per = document.getElementById('id_tipo_persona');
            if (per.value == '2'){
                document.getElementById('id_last_name').style.display = 'none';
                document.getElementById("id_last_name").setAttribute("required", "false");
                ap = document.getElementById('id_last_name').value;
                document.getElementById("id_last_name").setAttribute("value", " ");
                document.getElementById('lblapellidos').style.display = 'none';
                document.getElementById('lblnombres').innerHTML= 'Nombre de la institución:';
                document.getElementById('lblcurp').innerHTML= 'RFC:';
                document.getElementById('acurp').innerHTML= 'Consulta RFC';
                document.getElementById("lblnombres").setAttribute("class", "ml-2 col-2");
                document.getElementById("id_first_name").setAttribute("class", "form-control col-3 ml-2");
                document.getElementById("acurp").setAttribute("href", "https://www.sat.gob.mx/tramites/operacion/28753/obten-tu-rfc-con-la-clave-unica-de-registro-de-poblacion-(curp)");
            }else {
                document.getElementById('id_last_name').style.display = 'inline';
                document.getElementById("id_last_name").setAttribute("required", "required");
                // document.getElementById("id_last_name").setAttribute("value", ap);
                document.getElementById('lblapellidos').style.display = '';
                document.getElementById('lblnombres').innerHTML= 'Nombres:';
                document.getElementById('lblcurp').innerHTML= 'CURP:';
                document.getElementById('acurp').innerHTML= 'Consulta CURP';
                document.getElementById("lblnombres").setAttribute("class", "ml-2 col-1");
                document.getElementById("id_first_name").setAttribute("class", "form-control ml-1 col-2");
                document.getElementById("acurp").setAttribute("href", "http://consultas.curp.gob.mx");
            }
        }
    
        function funcion(){
            var user = document.getElementById("id_tipo_usuario");
        var per = document.getElementById("id_tipo_persona");
        if (user.value != '1')
        {
            document.getElementById('datos_inst').style.display = 'none';
            document.getElementById("id_modalidad").setAttribute("required", "false");
            // document.getElementById("id_cct").setAttribute("required", "false");
            // document.getElementById("id_nombre_director").setAttribute("required", "false");
            document.getElementById("id_sector").setAttribute("required", "false");
            document.getElementById("id_nivel_educativo").setAttribute("required", "false");
            
   
        }
        if (user.value != '1' && user.value != '5'){
            console.log("dif")


            if(borrado == 0){
                aBorrar = per.options[per.length-1];
                aBorrar.parentNode.removeChild(aBorrar);
                borrado = 1;
            }
        }else{
            if(borrado == 1){
                option = document.createElement("OPTION");
                option.value = "2";
                option.text = "Persona moral";
                per.add(option);
                borrado = 0;
            }
        }
        if(user.value == '1'){

            document.getElementById("datos_inst").style.display = 'inline';
        }

        pmoral();
        }
    
        


    </script>
</body>
</html>
