{% extends 'base5.html' %}
{% load static %}
{% block title %}Solicitudes de cuentas{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
   <META HTTP-EQUIV="REFRESH" CONTENT="0;URL={% url 'login' %}">
{% else %}
<div style="text-align:center;">
    <br><br><br><br>
    <h2>Solicitud de cuentas</h2>
    <h5>Validar información y agregar en caso de ser aceptado</h5>
    <hr>
    <div class="m-5 col-10 mx-auto responsive">
        <table class="table table-hover table-striped table-bordered" style="width: 80%;text-align:center;  margin: 0 auto;">
            <thead class="thead-dark">
                <tr class="bg-primary" style="text-align:center;">
                    <th class="" scope="col">Usuario</th>
                    <th class="" scope="col">Nombre</th>
                    <th class="" scope="col">CURP</th>
                    <th class="" scope="col">Tipo de usuario</th>
                    <th class="" scope="col"><center><img src="{% static '/img/mas.png'%}" align="none"/></center></th>
                </tr>
            </thead>
            <tbody>
                {% for element in visitantes %}
                <!-- {{ forloop.counter }} -->
                <tr onclick="verSolicitudVisitUsr(this.id)" id="row{{forloop.counter}}">
                    <td class="" id="{{ element.email }}">{{ element.email }}</td>
                    <td class="">
                        {{ element.first_name }}
                        {{ element.last_name }}
                    </td>
                    <td>
                        {{ element.curp_rfc }}
                    </td>
                    <td>
                        {% if element.tipo_usuario == '1' %}
                            Institución
                        {% else %}
                            Particular
                        {% endif %}
                    </td>
                    <td>
                        <button type="button">Validar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{% url 'menuadmin' %}">Regresar</a>
</div>
{% endif %}
<script>
    function verSolicitudVisitUsr(rvoeConsulta){
        var renglonClickeado = document.getElementById(rvoeConsulta);
        var rvoe = renglonClickeado.children[0].id;
        console.log("hola");
        console.log("correo : "+rvoe);
        // console.log("correo : "+rvoe);
        window.location="validar/"+rvoe;
    };
  </script>

{% endblock %}
