{% load static %}
<!DOCTYPE >
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/h.css' %}" type='text/css' media='all' >
    <script src="{% static '/js/jquery/jquery.min.css' %}""></script>
    <!---- jquery link local dont forget to place this in first than other script or link or may not work ---->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!---- boostrap.min link local ----->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!---- boostrap.min link local ----->
    <!-- <script src="{% static '/js/bootstrap.min.js' %}"></script> -->
    <!---- Boostrap js link local ----->
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <!---- Icon link local ----->
    <title>{% block title %}Validar cuenta{% endblock %}</title>
</head>
<body>
<header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #6092D9">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a target="_blank" href="#" class="navbar-brand"><img src="{% static 'img/se.png' %}" width="120" height="40" style="margin-top: -5px;"/></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'menuadmin' %}" target="_blank">Menú</a></li>
                    <li><a href="{% url 'usuarios' %}">Ver Usuarios</a></li>
                    <li><a href="{% url 'docAnexos' %}">Doc Anexos</a></li>
                    <li><a href="{% url 'signup' %}">Registrar Usuarios</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <strong>{{user.first_name}}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>{{user.first_name}} {{user.last_name}}</strong></p>
                                            <p class="text-left small">{{user.username}}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="container">
        <h3 class="text-center" >Información del solicitante '{{VisitanteSC.first_name}} {{VisitanteSC.last_name}}'</h3>
        <p class="text-center">
            <small id="passwordHelpInline" class="text-muted">Valide la siguiente información</small>
        </p>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <form action="../../../signuprv/{{VisitanteSC.email}}" enctype="multipart/form-data" class="form-group col-xs-12 col-md-12" method="post" onsubmit="return validar()" >
                    {% csrf_token %}
                    <div class="col-md-5">
                        <fieldset>
                            <p class="text-uppercase pull-center">Información de usuario</p>
                            <div class="form-group">
                                <label class="ml-2" for="tipo_persona" style="float: left;">Tipo de persona:</label>
                                {% if VisitanteSC.tipo_persona == '1' %}
                                    <input  class="form-control col-2" style="width: 35%;" type="text"  id="tipo_persona"  readonly name="tipo_persona" value="Física">
                                {% endif %}
                                {% if VisitanteSC.tipo_persona == '2' %}
                                    <input  class="form-control col-2" style="width: 35%;" type="text"  id="tipo_persona"  readonly name="tipo_persona" value="Moral">
                                {% endif %}
                                <br>
                                <label class="ml-2" for="id_tipo_usuario" style="float: left;">Tipo de usuario:</label>
                                {% if VisitanteSC.tipo_usuario == '1' %}
                                    <input  class="form-control col-4" style="width: 35%;" type="text"  id="id_tipo_usuario"  readonly name="tipo_persona" value="Institución">
                                {% endif %}
                                {% if VisitanteSC.tipo_usuario == '5' %}
                                    <input  class="form-control col-4" style="width: 35%;" type="text"  id="id_tipo_usuario"  readonly name="tipo_persona" value="Particular">
                                {% endif %}
                                <br>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label class="ml-2 col-1" for="id_first_name" id="lblnombres">Nombre(s):</label>
                                <input readonly class="form-control ml-1 col-2" type="text" name="first_name" required id="id_first_name" value="{{VisitanteSC.first_name}}" onfocus="funcion()">
                                {% if VisitanteSC.tipo_persona == '1' %}
                                    <label class="ml-1 col-1" for="id_last_name" id="lblapellidos">Apellidos:</label>
                                    <input  readonly class="form-control ml-1 col-2" type="text" name="last_name" required id="id_last_name" value="{{VisitanteSC.last_name}}">
                                {% endif %}
                                <label class="ml-2 mr-2" for="id_celular">Celular:</label>
                                <input readonly  class="form-control col-2" required type="text" name="celular" id="id_celular" value="{{VisitanteSC.celular}}">
                                <label class="ml-1 col-1" for="id_curp_rfc" id="lblcurp">{% if VisitanteSC.tipo_persona == '1' %}CURP:{% else %}RFC:{% endif %}</label>
                                <input readonly  class="form-control ml-1 col-3" type="text" name="curp_rfc" required id="id_curp_rfc" value="{{VisitanteSC.curp_rfc}}">
                                <br>
                                {% if VisitanteSC.tipo_usuario == '1' %}
                                    <div class="form-group" style="text-align:left;" id="datos_inst"  >
                                        <p>Datos de institución</p>
                                        <label class="ml-2 col-1" for="cct" style="text-align: left;">Clave del cenro de trabajo (CCT) :</label>
                                        <input type="text" name="cct"  id="cct" class="form-control col-2" readonly value="{{VisitanteSC.inst_cct}}" >
                                        <label class="ml-2 col-1" for="nombre_director" style="text-align: left;">Nombre de director:</label>
                                        <input type="text" readonly name="nombre_director" id="nombre_director" class="form-control col-2" value="{{VisitanteSC.inst_nombredirector}}" >
                                        <label class="ml-2 col-1" for="sector" style="text-align: left;">Sector:</label>
                                        <input type="text" readonly name="sector" id="sector" class="form-control col-2" value="{{VisitanteSC.sector}}" >
                                        <label class="ml-2 col-1" for="nivel_educativo" style="text-align: left;">Nivel educativo:</label>
                                        {% if VisitanteSC.nivel_educativo == '1' %}
                                            <input type="text" readonly name="nivel_educativo" id="nivel_educativo" class="form-control col-2" value="Media Superior" >
                                        {% endif %}
                                        {% if VisitanteSC.nivel_educativo == '2' %}
                                            <input type="text" readonly name="nivel_educativo" id="nivel_educativo" class="form-control col-2" value="Superior" >
                                        {% endif %}
                                        {% if VisitanteSC.nivel_educativo == '3' %}
                                            <input type="text" readonly name="nivel_educativo" id="nivel_educativo" class="form-control col-2" value="Ambos (Media Superior/Superior)" >
                                        {% endif %}
                                    </div><br>
                                {% endif %}
                                <div class="row justify-content-center align-items-center col-12 m-3 col-xs-4">
                                    <label class="ml-2" for="id_calle">Calle:</label>
                                    <input readonly class="form-control ml-2 mr-2 col-3" required type="text" name="calle" id="id_calle" placeholder="Calle" value="{{VisitanteSC.calle}}"><br>

                                    <label class="ml-2" for="id_codigopostal">Código postal:</label>
                                    <input readonly class="form-control ml-2 col-1" required type="number" name="codigopostal" value="63000" id="id_codigopostal"value="{{VisitanteSC.codigopostal}}"><br>
                                </div>
                                <div class="row justify-content-center align-items-center col-12 m-3 col-xs-4" style="margin-left: 25px;" >
                                    <label class="ml-2" for="id_noexterior">No. Exterior:</label>
                                    <input readonly class="form-control ml-2 mr-2 col-1" required type="number" name="noexterior" id="id_noexterior" value="{{VisitanteSC.noexterior}}"><br>

                                    <label class="ml-2 " for="id_municipio">Municipio:</label>
                                    <input readonly class="form-control ml-2 col-1" required type="text" name="municipio" id="id_municipio" value="{{VisitanteSC.municipio}}"><br>
                                </div>

                                <div class="row justify-content-center align-items-center col-12 m-3 col-xs-4" style="float: right;" >
                                    <label class="ml-2" for="id_nointerior">No. Interior:</label>
                                    <input readonly class="form-control ml-4 mr-2 col-1" required type="number" name="nointerior" id="id_nointerior" value="{{VisitanteSC.nointerior}}"><br>

                                    <label class="ml-2 mr-2" for="id_colonia">Colonia:</label>
                                    <input  readonly class="form-control col-2" required type="text" name="colonia" id="id_colonia" value="{{VisitanteSC.colonia}}"><br>
                                </div>
                            </div>
                        </fieldset>
                </div>
                <div class="col-md-2">
                <!-------null------>
                </div>
                <div class="col-md-5" style="float: right;">
                    <fieldset>
                        <p class="text-uppercase"> Información de inicio de sesión </p>
                        <div class="form-group" style="text-align: left;">
                            <div class="container-fluid form-group row " style="width: 100%; float:right;">
                                <br>
                                <label style="text-align: left;">Correo electronico:</label>
                                <input  readonly class="form-control col"  type="text" name="email"required id="id_email" value="{{VisitanteSC.email}}" onkeyup="PasarValor();">
                                <br><br>
                                <div class="text-center">
                                    <a href="{% url 'notificacionsc'%}"class="btn btn-warning col-2 mx-auto">Regresar</a>
                                    <button class="btn btn-primary col-2 mx-auto" type="submit">Registrar usuario</button>
                                    <br><br>
                                    <a class="btn btn-danger col-2 mx-auto" data-target="#myModal3" data-toggle="modal">Cancelar solicitud</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cancelar solicitud</h4>
        </div>
        <div class="modal-body">
          <p>¡Cuidado!,Si cancela ya no aparecera en la lista de solicitudes</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  onclick="femail()"  data-dismiss="modal">Cancelar</button>
          <a href="{% url 'notificacionsc'%}"class="btn btn-warning col-2 mx-auto">Regresar</a>
        </div>
      </div>

    </div>
  </div>
  <div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Verifique bien los datos</h4>
        </div>
        <div class="modal-body">
          <p>Tipo de usuarios = [ 1 = Institución,2 = Jefe dpto,3 = Subornidado,4 = Admón ]
              <br> Tipo persona = [ 1 = Física, 2 = Moral ]
              <br> Departamentos = [ 1 = Control Escolar,2 = Dirección,3 = Superior,4 = Media Superior ]
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"   data-dismiss="modal">Aceptar</button>

        </div>
      </div>

    </div>
  </div>


<script type="text/javascript">

function funcion(){
        var user = document.getElementById("id_tipo_usuario");
        var per = document.getElementById("tipo_persona");
        var depto= document.getElementById("departamento");
        if (user.value != '1'){
            console.log("dif")
            document.getElementById("datos_inst").style.display = 'none';
        }
        if(user.value == '2'){
            console.log("jefe");
            document.getElementById("firma").style.display = 'inline';
           }
        else{

            document.getElementById("firma").style.display = 'none';
            // document.getElementById("alertJefe").style.display = 'none';

        }
        if(user.value=='1')
        {
            document.getElementById("datos_inst").style.display = 'inline';
        }
        if(per.value=='2'){
            document.getElementById('id_tipo_persona').innerHTML= 'Tipo de persona "Moral":';
        }
        else {  document.getElementById('id_tipo_persona').innerHTML= 'Tipo de persona "Fisica":';
       }
       switch(depto.value){
            case '1': document.getElementById('lbl_departamento').innerHTML= 'Departamento "Control Escolar":';
                    break;
            case '2': document.getElementById('lbl_departamento').innerHTML= 'Departamento "Dirección":';
                    break;
            case '3': document.getElementById('lbl_departamento').innerHTML= 'Departamento "Superior":';
                    break;
            case '4': document.getElementById('lbl_departamento').innerHTML= 'Departamento "Media superior":';
                    break;
            default:;

       }
        pmoral();
        if(per.value!=1 & per.value!=4){
        departamento();}
    }


function femail(){
    var email = document.getElementById('id_email').value;

    window.location="cancelarsolicitud/"+email;
}



    function PasarValor(){
        document.getElementById("id_username").value = document.getElementById("id_email").value;
    }
    var ap = " ";
    var borrado = 0;
    function pmoral(){
        var per = document.getElementById('tipo_persona');
        if (per.value == '2'){
            document.getElementById('id_last_name').style.display = 'none';
            // document.getElementById("id_last_name").setAttribute("required", "false");
            // ap = document.getElementById('id_last_name').value;
            // document.getElementById("id_last_name").setAttribute("value", " ");
            document.getElementById('lblapellidos').style.display = 'none';
            document.getElementById('lblnombres').innerHTML= 'Nombre de la institución:';
            document.getElementById('lblcurp').innerHTML= 'RFC:';
            // document.getElementById('acurp').innerHTML= 'Consulta RFC';
            document.getElementById("lblnombres").setAttribute("class", "ml-2 col-2");
            document.getElementById("id_first_name").setAttribute("class", "form-control col-3 ml-2");
            // document.getElementById("acurp").setAttribute("href", "https://www.sat.gob.mx/tramites/operacion/28753/obten-tu-rfc-con-la-clave-unica-de-registro-de-poblacion-(curp)");
        }else {
            document.getElementById('id_last_name').style.display = 'inline';
            document.getElementById("id_last_name").setAttribute("required", "required");
            // document.getElementById("id_last_name").setAttribute("value", ap);
            // document.getElementById('lblapellidos').style.display = 'none';
            document.getElementById('lblnombres').innerHTML= 'Nombres:';
            document.getElementById('lblcurp').innerHTML= 'CURP:';
            // document.getElementById('acurp').innerHTML= 'Consulta CURP';
            document.getElementById("lblnombres").setAttribute("class", "ml-2 col-1");
            document.getElementById("id_first_name").setAttribute("class", "form-control ml-1 col-2");
            // document.getElementById("acurp").setAttribute("href", "http://consultas.curp.gob.mx");
        }
    }
    // document.getElementById("alertJefe").style.display = 'none';
    // function verificarJefes(){
    //     var a = {{ jefes | safe  }};
    //     var dep = document.getElementById("id_departamento");
    //     var sel = document.getElementById("alertJefe");
    //     for(var i=0; i<a.length+1; i++){
    //         if(dep.value == a[i]){
    //             sel.style.display = 'inline';
    //             i = a.length+1;
    //         }else{
    //             sel.style.display = 'none';
    //         }
    //     }
    // }

</script>
</body>
</html>