{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_tabla.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-fluid bg-info text-white p-3">
            <div class="row">
                <div class="col-10">
                    <h3 class="ml-4 pt-2">Solicitudes de Exámenes a Titulo y Registro de Sinodales - SSEMSSICYT</h3>
                </div>
                <div class="col-2 d-none d-lg-block">
                    <img src="{% static 'img/se.png' %}" alt="se" height="60">
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link ml-3" href="{% url 'SETyRS_institucion_index' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exámenes a título
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">Nueva Solicitud</a>
                <a class="dropdown-item" href="">Mis Solicitudes</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sinodales
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'SETyRS_nueva_solicitud_sinodal' %}">Nueva Solicitud</a>
                  <a class="dropdown-item" href="{% url 'SETyRS_solicitudes_sinodales' %}">Mis Solicitudes</a>
                </div>
              </li>
            <li class="nav-item">
                <a class="nav-link ml-3" href="">Documentos</a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link ml-3" 
                 href="#notificaciones"
                 data-toggle="popover"
                 onclick="showpop()">
                  <span class="badge badge-light align-top">
                    <i class="material-icons align-middle" data-toggle="tooltip" title="Notificaciones">notifications</i>
                    {% if notificaciones %}
                      {{notificaciones}}
                    {% else %}
                      0
                    {% endif %}
                  </span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.first_name}}
                <span class="badge badge-light align-top">
                  <i class="material-icons align-middle" data-toggle="tooltip" title="Sesión">person</i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'perfil' %}">Salir</a>
              </div>
                
              </a>
            </li>
          </ul>
        </div>
      </nav>



<!-- popover de notificaciones -->
<div id="a1" style="display: none;">
  <ul class="list-group list-group-flush">
      {% if notificacion %}
      {% for n in notificacion %}
      <a href="{% url 'leerNotificacion' n.id %}" class="list-group-item list-group-item-action" style="font-size: 12px; padding: 0px;">
        {% if n.visto %}
        <div class="form-row">
        {% else %}
        <div class="form-row bg-info">
        {% endif %}
          <div class="col-2" style="margin: auto;">
            {% if n.visto %}
            <img src="{% static 'img/2x/round_drafts.png' %}" class="img-fluid mx-auto" alt="Responsive image">
            {% else %}
            <img src="{% static 'img/2x/round_email.png' %}" class="img-fluid mx-auto" alt="Responsive image">
            {% endif %}
          </div>
          <div class="col">
            {{n.descripcion}}<br><small style="color: dimgray;">{{n.fecha}}</small>
          </div>
        </div>
      </a>
      {% endfor %}
      {% else %}
      <div class="text-center">
          <a style="font-size: 12px;">Sin Notificaciones</a>
      </div>
      {% endif %}
  </ul>
</div>





    {% block content %}
    {% endblock %}
</body>
<!-- Acciones y estilo del popover de Notificaciones -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/popover.css' %}"> -->
<script src="{% static 'js/popover.js' %}"></script>
<!-- ----------------------------------------------- -->
</html>