{% extends 'admins/base.html' %} {% load static %} {% block content %}
<div class="container col-md-10 text-center">
    <h2 class="mt-3">Solicitud #{{solicitud.id}}</h2>
    <img src="{% static 'img/gobierno_estado.png' %}" class="mb-3" alt="se" height="150">
    <p><strong>Solicitud {{solicitud.estatus}}.</strong></p>
    <br>
    <h4>RESUMEN</h4>
</div>
<div class="container">
    <h5>Sinodales</h5>
    <br>
    <div class="container">
        <h5>Presidente</h5>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" value="{{p.sinodal.nombre_sinodal}}" readonly>
        </div>
        <div class="col-md-6">
            <label for="grado_academico">Grado Academico</label>
            <input type="text" id="grado_academico" class="form-control" value="{{p.sinodal.grado_academico}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="rfc">RFC</label>
            <input type="text" id="rfc" class="form-control" value="{{p.sinodal.rfc}}" readonly>
        </div>
        <div class="col-md-2 text-center">
            <label for="cedula">Cedula</label>
            <br>
            <input type="button" id="cedula" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{p.cedula}}')" value="Ver Archivo">
        </div>
        <div class="col-md-3 text-center">
            <label for="curriculum">Curriculum</label>
            <br>
            <input type="button" id="curriculum" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{p.curriculum}}')" value="Ver Archivo">
        </div>
    </div>
    <br>
    <div class="container">
        <h5>Secretario</h5>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" value="{{s.sinodal.nombre_sinodal}}" readonly>
        </div>
        <div class="col-md-6">
            <label for="grado_academico">Grado Academico</label>
            <input type="text" id="grado_academico" class="form-control" value="{{s.sinodal.grado_academico}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="rfc">RFC</label>
            <input type="text" id="rfc" class="form-control" value="{{s.sinodal.rfc}}" readonly>
        </div>
        <div class="col-md-2 text-center">
            <label for="cedula">Cedula</label>
            <br>
            <input type="button" id="cedula" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{s.cedula}}')" value="Ver Archivo">
        </div>
        <div class="col-md-3 text-center">
            <label for="curriculum">Curriculum</label>
            <br>
            <input type="button" id="curriculum" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{s.curriculum}}')" value="Ver Archivo">
        </div>
    </div>
    <br>
    <div class="container">
        <h5>Vocal</h5>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" value="{{v.sinodal.nombre_sinodal}}" readonly>
        </div>
        <div class="col-md-6">
            <label for="grado_academico">Grado Academico</label>
            <input type="text" id="grado_academico" class="form-control" value="{{v.sinodal.grado_academico}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="rfc">RFC</label>
            <input type="text" id="rfc" class="form-control" value="{{v.sinodal.rfc}}" readonly>
        </div>
        <div class="col-md-2 text-center">
            <label for="cedula">Cedula</label>
            <br>
            <input type="button" id="cedula" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{v.cedula}}')" value="Ver Archivo">
        </div>
        <div class="col-md-3 text-center">
            <label for="curriculum">Curriculum</label>
            <br>
            <input type="button" id="curriculum" class="btn btn-primary" data-toggle="modal" data-target="#viewPDF" onclick="verArchivo('{{v.curriculum}}')" value="Ver Archivo">
        </div>
    </div>
</div>
<br>
<div class="container">
    <h5>Alumnos</h5>
    <br>
    <div class="table-responsive text-center">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">No. Certificado</th>
                    <th scope="col">CURP</th>
                    <th scope="col">Certificado de Egreso</th>
                    <th scope="col">Servicio Social</th>
                    <th scope="col">Inscripción Control Escolar</th>
                    <th scope="col">Recibo de pago</th>
                </tr>
            </thead>
            <tbody>
                {% for a in lista_alumnos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{a.alumno.nombre_alumno}}</td>
                    <td>{{a.alumno.no_certificado}}</td>
                    <td>{{a.alumno.CURP}}</td>
                    <td><a href="#viewPDF" data-toggle="modal" onclick="verArchivo('{{a.certificado_egreso}}')"><u>Ver archivo</u></a></td>
                    <td><a href="#viewPDF" data-toggle="modal" onclick="verArchivo('{{a.servicio_social}}')"><u>Ver archivo</u></a></td>
                    <td><a href="#viewPDF" data-toggle="modal" onclick="verArchivo('{{a.inscripcion_ctrl_escolar}}')"><u>Ver archivo</u></a></td>
                    <td><a href="#viewPDF" data-toggle="modal" onclick="verArchivo('{{a.recibo_pago}}')"><u>Ver archivo</u></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="container text-center">
    <a href="{% url 'SETyRS_lista_solicitudes_examenes' %}" class="btn btn-primary">Regresar</a>
    {% if solicitud.estatus == 'Aceptada' or solicitud.estatus == 'Rechazada' %}
    <input type="button" class="btn btn-primary" value="Aceptar Solicitud" disabled>
    <input type="button" class="btn btn-danger" value="Rechazar Solicitud" disabled>
    {% else %}
    <input type="button" class="btn btn-primary" value="Aceptar Solicitud" data-toggle="modal" data-target="#confirmacion">
    <input type="button" class="btn btn-danger" value="Rechazar Solicitud" data-toggle="modal" data-target="#rechazar">
    {% endif %}
</div>
<br>
<br>

<!-- Modal de aceptacion -->
<div id="confirmacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'SETyRS_aceptar_solicitud' solicitud.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Aviso!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p><strong>¿Está seguro que desea aceptar esta solicitud?</strong></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de rechazo -->
<div id="rechazar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'SETyRS_rechazar_solicitud' solicitud.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Aviso!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p><strong>¿Está seguro que desea rechazar la solicitud?</strong></p>
                    <p>Por favor. Explique brevemente en la caja de abajo el motivo de <strong>rechazo</strong> de esta solicitud.
                    </p>
                    <textarea class="form-control" name="comentarios" rows="3" required></textarea>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal PDF viewer -->
<div id="viewPDF" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" style="max-width: max-content;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 5px 20px;">
                <h4 class="modal-title">Visualizador de archivos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <iframe id="PDFviewer" width="1000" height="540" type="application/pdf"></iframe>
        </div>
    </div>
</div>

<script>
    function verArchivo(url) {
        var pdf = document.getElementById('PDFviewer')
        pdf.setAttribute("src", "{{MEDIA_URL}}" + url);
	}
</script>
{% endblock %}