{% extends 'base/base.html' %}

{% block title %}Introduce nueva contraseña{% endblock %}

{% block content %}

{% if validlink %}
<div class="text-center">
<h1>Cambiar contraseña</h1>
<form method="POST" class="form-inline justify-content-center">
  {% csrf_token %}
  <div class="text-center">
  <div class='container-fluid'>
      <div class="form-group text-center">
        <div class="col-md-3 mt-2">
          {{ form.new_password1.errors }}
          <input class="form-control mt-2" id="id_new_password1" type="password" name="new_password1" placeholder="Nueva contraseña">
          <br>
          {{ form.new_password2.errors }}
          <input class="form-control mt-2" id="id_new_password2" type="password" name="new_password2" placeholder="Confirmar contraseña">
          <br>
          <input  class="btn btn-primary mt-2" type="submit" value="Cambiar contraseña">
        </div>
      </div>
    </div>
    </div>
</form>

{% else %}
<h1 class="text-center">Enlace inválido: Este enlace ya ha sido utilizado</h1>

{% endif %}
</div>
{% endblock %}