{% extends 'base/base.html' %}

{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}
  <h1>¿Olvidaste tu contraseña?</h1>
  <p>Ingrese su dirección de correo electrónico a continuación, y le enviaremos instrucciones para establecer una nueva.</p>
  <div class="text-center">
  <form method="POST" class="form-inline justify-content-center">
    {% csrf_token %}
    <div class="text-center">
        <div class='container-fluid'>
            <div class="form-group text-center">
              <div class="col-md-12 mt-2">
                <input class="form-control" id="id_email" type="email" name="email" placeholder="Correo electrónico">
                <input class="btn btn-primary mt-2" type="submit" value="Enviar">
              </div>
          </div>
      </div>
    </div>
  </form>
  </div>
{% endblock %}
