{% extends 'baseUser.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Error</h4>
            <h6 class="card-subtitle mb-2 text-muted">No tiene permiso de revisar esta solicitud.</h6>
            <p class="card-text">
                La solicitud {{ folio }} no puede ser revisada por su departamento.
            </p>
            <p>{% if not error %}
                Es probable que aún no le toque revisarla o que ya la haya revisado antes.    
            {% else %}
                {{error}}
            {% endif %}</p>
            <a href="{% url 'admin' %}" class="card-link">Regresar</a>
        </div>
    </div>
</div>
{% endblock %}
