{% extends 'baseUser.html' %}

{% block title %}Solicitud enviada{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Solicitud enviada</h4>
            <h6 class="card-subtitle mb-2 text-muted">Ahora comienza el proceso de revisión de solicitud</h6>
            <p class="card-text">
                El folio de esta solicitud es {{ id_solicitud }}.
                Recuérdalo para que puedas seguir la revisión de la presente solicitud.
            </p>
            <a href="{% url 'inicio' %}" class="card-link">Ir a inicio</a>
        </div>
    </div>
</div>
{% endblock %}
