{% extends 'baseUser.html' %}

{% block title %}Solicitud{% endblock %}

{% block content %}
<script>
    function salir(){
        var opcion = confirm("Podrás continuar con la solicitud actual posteriormente, "+
                            "pero no se guardarán los documentos que has subido en este apartado. "+
                            "¿Deseas salir?");
        if (opcion == true) {
            window.location.replace("{% url 'inicio' %}");
        }
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body" >
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <h2 class="cover-heading" style="text-align: center;">Solicitud Media Superior</h2>
                    <h4 class="">Solo son validos los archivos PDF</h4>
                    <form method="post" enctype="multipart/form-data" id="formulario">
                        {% csrf_token %}

                        <div class="form-group custom-file p-3 mt-2" >
                            <label class="font-weight-bold" for="id_identificacion" id="lblidentificacion">Identificación oficial con fotografía</label>
                            <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="identificacion" id="id_identificacion">
                        </div>
                        {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        {% if field.name == 'identificacion' %}
                                            <div class="col-md-12 mt-2">
                                                <div class="alert alertt-danger w-25">
                                                    <label>{{ error }}</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="form-group custom-file p-3 mt-2" >
                            <label class="font-weight-bold" for="id_perDocente">Manifiesto de compromiso  de incorporar al personal docente</label>
                            <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="perDocente" id="id_perDocente">
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'perDocente' %}
                                        <div class="col-md-12 mt-2">
                                            <div class="alert alertt-danger w-25">
                                                <label>{{ error }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}


                        <div class="form-group custom-file p-3 mt-2" id="div_virtual">
                            <label class="font-weight-bold" for="id_equipamiento">Tecnología y equipamiento para la opción educativa virtual</label>
                            <input type="file" accept="application/pdf" class="form-control-file w-50 p-3" name="equipamiento" id="id_equipamiento">
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'equipamiento' %}
                                        <div class="col-md-12 mt-2">
                                            <div class="alert alertt-danger w-25">
                                                <label>{{ error }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="form-group custom-file p-3 mt-2" id="plan">
                            <label class="font-weight-bold" for="id_progEstuio">Planes y Programas de Estudio</label>
                            <div class="custom-control custom-radio">
                                <p>Voy a utilizar un:</p>
                                <input type="radio" name="prog" onclick="ocultarProgEstudio()" value="1" checked> Plan y programa de estudios federal <br>
                                <input type="radio" name="prog" onclick="mostrarProgEstudio()" value="2"> Plan y programa de estudios propio
                            </div>
                            <input type="file" accept="application/pdf" class="form-control-file mt-2 w-50 p-3" name="progEstuio" id="id_progEstuio">
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'progEstuio' %}
                                        <div class="col-md-12 mt-2">
                                            <div class="alert alertt-danger w-25">
                                                <label>{{ error }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="form-group custom-file p-3 mt-2" id="div_salud">
                            <label class="font-weight-bold" for="id_cifrhs">Opinión favorable de CIFRHS</label>
                            <input type="file" accept="application/pdf" class="form-control-file w-50 p-3" name="cifrhs" id="id_cifrhs">
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'cifrhs' %}
                                    <div class="col-md-12 mt-2">
                                        <div class="alert alert-danger w-25">
                                            <label>{{ error }}</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="form-group custom-file p-3 mt-2" id="div_salud2">
                            <label class="font-weight-bold" for="id_carta">Carta de intención</label>
                            <input type="file" accept="application/pdf" class="form-control-file w-50 p-3" name="carta" id="id_carta">
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'carta' %}
                                    <div class="col-md-12 mt-2">
                                        <div class="alert alert-danger w-25">
                                            <label>{{ error }}</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div class="form-group custom-file p-3 mt-2">
                            <label class="font-weight-bold" for="id_instalaciones">Formato No. 6 "Instalaciones"</label>
                            <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="instalaciones" id="id_instalaciones">
                            <div id="accordion" role="tablist" aria-multiselectable="true" class="col-6 mb-2">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                Documentos que se incluyen en este formato:
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                                        <div class="card-block">
                                            <ul class="list-group">
                                                <li class="list-group-item">Permisos del ayuntamiento.</li>
                                                <li class="list-group-item">El documento con el cual se acredita la legal ocupación del inmueble.</li>
                                                <li class="list-group-item">Constancia de seguridad estructural.</li>
                                                <li class="list-group-item">Dictamen estructural otorgado por el Instituto Nayarita para la Infraestructura Física Educativa (INIFE).</li>
                                                <li class="list-group-item">Constancia de uso de suelo.</li>
                                                <li class="list-group-item">Dictamen de Protección Cívil.</li>
                                                <li class="list-group-item">Plan de Emergencia Escolar.</li>
                                                <li class="list-group-item">Documento que acredita la ocupacion legal del inmueble.</li>
                                                <li class="list-group-item">Carta de Intención (Solo para solicitudes en área de la salud).</li>
                                            </ul>
                                        </div>
                                    </div>
	                            </div>
                            </div>
                            <p class="m-1 mt-3">Introduce los siguientes datos del dictament de uso de suelo:</p>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_dictamen_suelo">
                                    Dictamen constancia de uso de suelo:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="dictamen_suelo" id="id_dictamen_suelo">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_expediente_suelo">
                                    Expediente constancia de uso de suelo:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="expediente_suelo" id="id_expediente_suelo">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_fecha_suelo">
                                    Fecha de constancia:
                                </label>
                                <input type="date" class="form-control col-2" id="id_fecha_suelo" required name="fecha_suelo"
                                       value="{{ fecha }}" min="2020-01-01" max="{{ fecha }}">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_firma_suelo">
                                    Nombre de quien firma:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="firma_suelo" id="id_firma_suelo">
                            </div>
                            <p class="m-1 mt-3">Introduce los siguientes datos de la constancia de seguridad estructural:</p>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_dictamen_estructural">
                                    Nombre de constancia:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="dictamen_estructural" id="id_dictamen_estructural">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_fecha_estructural">
                                    Fecha de constancia:
                                </label>
                                <input type="date" class="form-control col-2" id="id_fecha_estructural" required name="fecha_estructural"
                                       value="{{ fecha }}" min="2020-01-01" max="{{ fecha }}">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_arqui_dictamen_estructural">
                                    Nombre del arquitecto:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="arqui_dictamen_estructural" id="id_arqui_dictamen_estructural">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_DRO_dictamen_estructural">
                                    No. de Cedula Profesional:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="noCedula_dictamen_estructural" id="id_noCedula_dictamen_estructural">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_DRO_dictamen_estructural">
                                    Registro de D.R.O. (Directores Responsables de Obra)l:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="DRO_dictamen_estructural" id="id_DRO_dictamen_estructural">
                            </div>
                            <p class="m-1 mt-3">Introduce los siguientes datos del dictamen de protección civil:</p>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_dictamen_proteccion">
                                    Folio de dictamen:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="dictamen_proteccion" id="id_dictamen_proteccion">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_fecha_dictamen_proteccion">
                                    Fecha de dictamen:
                                </label>
                                <input type="date" class="form-control col-2" id="id_fecha_dictamen_proteccion" required name="fecha_dictamen_proteccion"
                                       value="{{ fecha }}" min="2020-01-01" max="{{ fecha }}">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_firma_dictamen_proteccion">
                                    Nombre de quien firma el dictamen:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="firma_dictamen_proteccion" id="id_firma_dictamen_proteccion">

                            </div>
                            <p class="m-1 mt-3">Introduce los siguientes datos de INIFE:</p>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_folio_inife">
                                    Folio dictamen de INIFE:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="folio_inife" id="id_folio_inife">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_fecha_inife">
                                    Introduce fecha de INIFE:
                                </label>
                                <input type="date" class="form-control col-2" id="id_fecha_inife" required name="fecha_inife"
                                       value="{{ fecha }}" min="2020-01-01" max="{{ fecha }}">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_firma_inife">
                                    Nombre de quien firma el dictamen de INIFE:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="firma_inife" id="id_firma_inife">
                            </div>
                        </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {% if field.name == 'instalaciones' %}
                                        <div class="col-md-12 mt-2">
                                            <div class="alert alertt-danger w-25">
                                                <label>{{ error }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <input type="text" hidden name="id_solicitud" id="id_id_solicitud" value="{{ id_solicitud }}">

                        <div class="text-center p-3 mt-2" id="divBotones">
                            <button onclick="salir()" class="btn btn-danger">Salir</button>
                            <button type="submit" class="btn btn-primary">Finalizar</button>
                            <!--button onclick="cargandoArchivos()" type="submit" class="btn btn-primary">Finalizar</button-->
                        </div>
                        <!--div class="col-5 d-flex justify-content-center mt-3 mx-auto">
                            <div class="card" id="divMsj">
                                <div class="card-body">
                                    <div class="spinner-border text-primary" role="status">
                                        <h4 class="card-title">Subiendo archivos</h4>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="card-text">
                                        Se estan subiendo sus documentos, la duración de esto puede variar según el tamaño de sus documentos.
                                    </p>
                                </div>
                            </div>
                        </div-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    /*document.getElementById('divMsj').style.display = 'none';
    function cargandoArchivos(){
      if (validacion()){
        document.getElementById('divBotones').style.display='none';
        document.getElementById('divMsj').style.display='inline';
      }
    }

    function validacion(){
      //Archivo de solicitud
      if( document.getElementById("id_solicitud").files.length == 0 ){
        return false;
      }
      //Archivo de pago
      if( document.getElementById("id_pago").files.length == 0 ){
        return false;
      }
      if( document.getElementById("id_folio_pago").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_monto_pago").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_pago").value.length == 0 ){
        return false;
      }
      //Identificación oficial
      if( document.getElementById("id_identificacion").files.length == 0 ){
        return false;
      }
      //Personal docente
      if( document.getElementById("id_perDocente").files.length == 0 ){
        return false;
      }
      //Tecnología y equipamiento
      if( document.getElementById("id_equipamiento").files.length == 0 ){
        return false;
      }
      //CIFRHS
      if( document.getElementById("id_cifrhs").files.length == 0 ){
        return false;
      }
      //Carta de intención
      if( document.getElementById("id_carta").files.length == 0 ){
        return false;
      }
      //Formato No. 6
      if( document.getElementById("id_instalaciones").files.length == 0 ){
        return false;
      }
      if( document.getElementById("id_dictamen_suelo").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_expediente_suelo").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_suelo").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_firma_suelo").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_dictamen_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_arqui_dictamen_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_noCedula_dictamen_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_DRO_dictamen_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_dictamen_estructural").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_dictamen_proteccion").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_dictamen_proteccion").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_firma_dictamen_proteccion").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_dictamen_proteccion").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_folio_inife").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_fecha_inife").value.length == 0 ){
        return false;
      }
      if( document.getElementById("id_firma_inife").value.length == 0 ){
        return false;
      }
      return true;
    }*/

    document.getElementById('id_progEstuio').style.display = 'none';

    if ({{ user.tipo_persona }} == 1){
        document.getElementById('lblidentificacion').innerHTML= 'Identificación oficial con fotografía';
    }else{
        document.getElementById('lblidentificacion').innerHTML= 'Acta constitutiva inscrita en el Registro Público de la Propiedad';
    }

    if ({{ virtual }} == '2' && {{ mod }} == '3'){
        document.getElementById('div_virtual').style.display = 'inline';
        document.getElementById("id_equipamiento").setAttribute("required", "required");
    }else{
        document.getElementById('div_virtual').style.display = 'none';
    }

    if ({{ salud }} == '1'){
        document.getElementById('div_salud').style.display = 'inline';
        document.getElementById('div_salud2').style.display = 'inline';
        document.getElementById("id_cifrhs").setAttribute("required", "required");
        document.getElementById("id_carta").setAttribute("required", "required");
    }else{
        document.getElementById('div_salud').style.display = 'none';
        document.getElementById('div_salud2').style.display = 'none';
    }

    function mostrarProgEstudio(){
        document.getElementById('id_progEstuio').style.display = 'inline';
        document.getElementById("id_progEstuio").setAttribute("required", "required");
    }

    function ocultarProgEstudio(){
        document.getElementById('id_progEstuio').style.display = 'none';
        document.getElementById("id_progEstuio").setAttribute("required", "false");
    }

</script>
{% endblock %}
