{% extends 'baseUser.html' %}

{% block title %}Comentarios {% endblock %}

{% block content %}
    
    <nav class=" navbar navbar-expand navbar-light fixed m-2">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="texto navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                        <a class="nav-link ml-4" href="{% url 'notificacionAdmin' %}">Notificaciones {{total}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>  
        <div class="m-2">
            <a class="text-dark"> {{ NombreDepartamento }} </a>
            <a class="float-right mr-2"> - {{ user.first_name }} {{ user.last_name }}</a>
        </div>      
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-10 mx-auto mt-3">
                <table class="table table-secondary table-bordered table-hover">
                    <tr class="text-center">
                        <th>Comentarios</th>
                        <th>Mostrado <br>al usuario</th>
                        <th>Fecha</th>
                        <th>Departamento</th>
                        <th></th>
                    </tr> 
                  
                    {% for element in comentarios %}
                    <tr class="text-center">
                        <td>{{element.descripcion}}</td>
                        <td>{%if element.mostrado == '0' %}
                                No
                            {%endif%}
                            {%if element.mostrado == '1' %}
                                Sí
                            {%endif%}    
                        </td>
                        <td>{{element.fechaComentario}}</td>
                        <td>{{element.departamento.nombre}}</td>
                        {% if element.mostrado == '0' %}
                        <td><a href="../eliminar/{{element.id}}/{{carpeta}}" >Eliminar</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}  
                    </tr>
                    {% endfor %}
                </table>
            </div> 
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-4 mx-auto text-center">
            <a class=" btn btn-secondary"  href="{% url 'admin' %}">Regresar</a>
        </div>
    </div>

    

{% endblock %}