{% extends 'baseUser.html' %}

{% block title %}Actualización de archivos{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body" >
                <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <form method="post" enctype="multipart/form-data" action="terminar/">
                        {% csrf_token %}
                        <div class="col-12 text-center mt-2 mb-1">
                            <h3>Folio: {{solicitud.id}} -  Institución: {{solicitud.customuser.first_name}}
                                {{solicitud.customuser.last_name}}</h3>
                            <h3> {{ solicitud.nombreSolicitud }}</h3>
                        </div>
                        <div class="col-12 text-center mb-3">
                            <h3>
                                    Modalidad:
                                    {%if solicitud.modalidad == '2' %}
                                        Escolarizada
                                    {%endif%}
                                    {%if solicitud.modalidad == '1' %}
                                        Mixta
                                    {%endif%}
                                    {%if solicitud.modalidad == '3' %}
                                        No escolarizada
                                    {%endif%}
                                    - Nivel: Superior
                            </h3>
                            <br>
                            <h2>Favor de subir nuevamente los siguientes archivos corregidos:</h2>
                            <h4 class="">Solo son validos los archivos PDF</h4>
                        </div>

                        {% for element in coment %}
                        <div class="mb-5">
                        {% if "2_1" in comentarios or "2_2" in comentarios or "2_3" in comentarios or "2_4" in comentarios or "2_5" in comentarios or "2_6" in comentarios or "2_7" in comentarios or "2_8" in comentarios or "2_9" in comentarios or "2_10" in comentarios or "2_11" in comentarios %}
                            <!--h3 class="m-3">Carpeta Institucional</h3-->
                            {% if "2_1" in comentarios and element.archivo == "2_1" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Solicitud de RVOE</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="solicitud" id="id_solicitud">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_1" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_2" in comentarios and element.archivo == "2_2" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Comprobante de pago</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="pago" id="id_pago">
                                <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_folio_pago">
                                    Folio de pago:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="folio_pago" id="id_folio_pago">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_monto_pago">
                                    Monto de pago:
                                </label>
                                <input type="text" class="form-control form-control-sm w-25 p-2" required
                                       name="monto_pago" id="id_monto_pago">
                            </div>
                            <div class="row">
                                <label class="font-weight-normal m-2 pl-4" for="id_fecha_pago">
                                    Fecha en que se realizó el pago:
                                </label>
                                <input type="date" id="id_fecha_pago" required name="fecha_pago"
                                       value="2018-07-22" max="2019-11-21">
                            </div>
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_2" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_3" in comentarios and element.archivo == "2_3" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Documento que acredita la personalidad juridica</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="acredita_personalidad" id="id_acredita_personalidad">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_3" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_4" in comentarios and element.archivo == "2_4" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Documento que acredita la ocupacion legal del inmueble</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="acredita_inmueble" id="id_acredita_inmueble">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_4" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_5" in comentarios and element.archivo == "2_5" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Licencia de uso de suelo</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="licencia_suelo" id="id_licencia_suelo">
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_dictamen_suelo">
                                        Dictamen constancia de uso de suelo:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="dictamen_suelo" id="id_dictamen_suelo">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_expediente_suelo">
                                        Expediente constancia de uso de suelo:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="expediente_suelo" id="id_expediente_suelo">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_fecha_suelo">
                                        Fecha de constancia:
                                    </label>
                                    <input type="date" id="id_fecha_suelo" required name="fecha_suelo"
                                           value="2018-07-22" max="2019-11-21">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_firma_suelo">
                                        Nombre de quien firma:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="firma_suelo" id="id_firma_suelo">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_5" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_6" in comentarios and element.archivo == "2_6" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Constancia de seguridad estructural</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="constancia_estructural" id="id_constancia_estructural">
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_dictamen_estructural">
                                        Nombre de constancia:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="dictamen_estructural" id="id_dictamen_estructural">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_fecha_estructural">
                                        Fecha de constancia:
                                    </label>
                                    <input type="date" id="id_fecha_estructural" required name="fecha_estructural"
                                           value="2018-07-22" max="2019-11-21">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_arqui_dictamen_estructural">
                                        Nombre del arquitecto:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="arqui_dictamen_estructural" id="id_arqui_dictamen_estructural">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_noCedula_dictamen_estructural">
                                        No. de Cedula Profesional:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="noCedula_dictamen_estructural" id="id_noCedula_dictamen_estructural">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_DRO_dictamen_estructural">
                                        Registro de D.R.O. (Directores Responsables de Obra)l:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="DRO_dictamen_estructural" id="id_DRO_dictamen_estructural">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_6" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_7" in comentarios and element.archivo == "2_7" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Constancia de proteccion civil</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="constancia_proteccion" id="id_constancia_proteccion">
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_dictamen_proteccion">
                                        Folio de dictamen:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="dictamen_proteccion" id="id_dictamen_proteccion">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_fecha_dictamen_proteccion">
                                        Fecha de dictamen:
                                    </label>
                                    <input type="date" id="id_fecha_dictamen_proteccion" required name="fecha_dictamen_proteccion"
                                           value="2018-07-22" max="2019-11-21">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_firma_dictamen_proteccion">
                                        Nombre de quien firma el dictamen:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="firma_dictamen_proteccion" id="id_firma_dictamen_proteccion">

                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_7" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_8" in comentarios and element.archivo == "2_8" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >INIFE</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="inife" id="id_inife">
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_folio_inife">
                                        Folio dictamen de INIFE:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="folio_inife" id="id_folio_inife">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_fecha_inife">
                                        Introduce fecha de INIFE:
                                    </label>
                                    <input type="date" id="id_fecha_inife" required name="fecha_inife"
                                           value="2018-07-22" max="2019-11-21">
                                </div>
                                <div class="row">
                                    <label class="font-weight-normal m-2 pl-4" for="id_firma_inife">
                                        Nombre de quien firma el dictamen de INIFE:
                                    </label>
                                    <input type="text" class="form-control form-control-sm w-25 p-2" required
                                           name="firma_inife" id="id_firma_inife">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_8" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_9" in comentarios and element.archivo == "2_9" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Descripcion de las instalaciones</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="des_instalacion" id="id_des_instalacion">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_9" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_10" in comentarios and element.archivo == "2_10" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Planos estructurales y arquitectónicos</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="planos" id="id_planos">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_10" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "2_11" in comentarios and element.archivo == "2_11" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Biblioteca</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="biblio" id="id_biblio">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "2_11" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}

                        {% if "3_1" in comentarios or "3_2" in comentarios or "3_3" in comentarios or "3_4" in comentarios or "3_5" in comentarios or "3_6" in comentarios or "3_7" in comentarios %}
                            <!--h3 class="m-3">Carpeta Curricular</h3-->
                            {% if "3_1" in comentarios and element.archivo == "3_1" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Estudio de factibilidad</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="estudio" id="id_estudio">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_1" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_2" in comentarios and element.archivo == "3_2" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Plan de estudios</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="plan" id="id_plan">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_2" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_3" in comentarios and element.archivo == "3_3" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Mapa curricular</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="mapa" id="id_mapa">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_3" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_4" in comentarios and element.archivo == "3_4" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Programas de estudios</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="programa" id="id_programa">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_4" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_5" in comentarios and element.archivo == "3_5" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Metodología de modalidad</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="metodologia" id="id_metodologia">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_5" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_6" in comentarios and element.archivo == "3_6" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Opinión favorable de CIFRHS</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="cifrhs" id="id_cifrhs">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_6" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "3_7" in comentarios and element.archivo == "3_7" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Carta de intención</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="carta" id="id_carta">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "3_7" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}

                        {% if "4_1" in comentarios or "4_2" in comentarios or "4_3" in comentarios or "4_4" in comentarios or "4_5" in comentarios or "4_6" in comentarios %}
                            <!--h3 class="m-3">Carpeta Académica</h3-->
                            {% if "4_1" in comentarios and element.archivo == "4_1" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Relación de recursos bibliográficos</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="rec_bibliograficos" id="id_rec_bibliograficos">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_1" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "4_2" in comentarios and element.archivo == "4_2" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Relación de recursos didácticos</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="rec_didacticos" id="id_rec_didacticos">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_2" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "4_3" in comentarios and element.archivo == "4_3" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Talleres</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="talleres" id="id_talleres">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_3" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "4_4" in comentarios and element.archivo == "4_4" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Infraestructura de apoyo informático</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="apoyo_informatico" id="id_apoyo_informatico">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_3" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "4_5" in comentarios and element.archivo == "4_5" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Apoyo de comunicaciones</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="apoyo_comunicaciones" id="id_apoyo_comunicaciones">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_5" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if "4_6" in comentarios and element.archivo == "4_6" and element.atendida == False %}
                            <div class="form-group custom-file p-3 mt-2">
                                <label class="font-weight-bold" >Personal</label>
                                <input type="file" accept="application/pdf" required class="form-control-file w-50 p-3" name="personal" id="id_personal">
                                <div class="col-md-12 mt-2">
                                    <div class="alert alert-warning w-50 w-50">
                                        <label>Los comentarios de este documeto son:</label>
                                        <ul class="list-group">
                                        {% for element in coment %}
                                            {% if element.archivo == "4_6" and element.atendida == False %}
                                                <li class="list-group-item">{{ element.descripcion }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group custom-file mt-5 text-center">
                            <button class="btn btn-secondary">Actualizar archivos</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}