{% extends 'base5.html' %}

{% block title %}Añadir acuerdos{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
   <META HTTP-EQUIV="REFRESH" CONTENT="0;URL={% url 'login' %}">
{% else %}
<div class="col-md-6" style="float: left;">
        <form method="post" enctype="multipart/form-data" class="form-group ">
            {% csrf_token %} <br><br><br><br>
            <h3 align="center">Subir archivos de acuerdos</h3><br><br>
            <div class="row">
                <label class="" for="id_nombre" style="float:left; margin-left: 50px;">Nombre del acuerdo : </label>
                <input type="text" class="form-control" required name="nombre" id="id_nombre" style="width: 50%;">
                <br>
                <label class="" for="id_nivel" style="float:left; margin-left: 50px;">Nivel:</label>
                <select class="custom-select " name="nivel" id="id_nivel" style="float:left; margin-left: 105px;">
                    <option value="1" selected>Media Superior</option>
                    <option value="2">Superior</option>
                </select>
            </div><br>
            <div class="row d-flex"  style="background-color: lightgray; width: 75%; margin-left: 37px;  border: 2px solid lightgray;
            border-radius: 5px;">
                <br>
                <label class="font-weight-normal" for="id_archivo" style="float:left; margin-left: 0px;"><b>Archivo de acuerdo :</b></label>
                <input type="file" required class="form-control-file " name="archivo" id="id_archivo">
                <br>
                <button class="btn btn-primary" style="float:left; margin-left: 145px;">Añadir</button>
            </div>
        </form>
    </div>


   
    <div class="col-md-6" style="float: right;" ><br><br><br><br>
        <h3 align="center">Acuerdos subidos</h3><br><br>
        <table class="table table-hover" style="width: 100%; text-align:center; margin: 0 auto;">
            <thead class="thead-dark">
                <tr class="bg-primary">
                    <th class="w-50">Nombre</th>
                    <th class="w-25">Nivel</th>
                    <th class="w-25">Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for element in docs %}
                    <tr>
                        <td class="w-50">{{ element.nombre }}</td>
                        <td class="w-25">
                            {% if element.nivel == '1' %}
                                Media Superior
                            {% endif %}
                            {% if element.nivel == '2' %}
                                Superior
                            {% endif %}
                        </td>
                        <td class="w-25"><a class="btn btn-secondary" target="_blank" href="{{ element.archivo.url }}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
</div>
{% endif %}

{% endblock %}