{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
<div class="container col-md-10 col-lg-6 text-center">
    <img src="{% static 'img/gobierno_estado.png' %}" class="mb-3" alt="se" height="150">
    <p class="text-justify">
        Bienvenido al sistema para la solicitud y autorización de Exámenes a Titulo y Sinodales. 
        En esta plataforma se autorizan las peticiones de las instituciones educativas para la 
        realización de los exámenes a titulo de sus alumnos y la aprobación de los sinodales 
        que acompañarán dicho exámen.
    </p>
</div>
{% endblock %}