{% extends 'institucion/base.html' %} {% load static %} {% block content %}
<script>
    var RIT = "{{RIT}}";
</script>

<div class="container col-md-10 text-center">
    <h2 class="mt-3">Nueva Solicitud de Exámen a Título</h2>
    <img src="{% static 'img/gobierno_estado.png' %}" class="mb-3" alt="se" height="150">
    <script src="{% static 'js/admins/examenes/nuevaSoli.js' %}" defer></script>
    <p>*Recuerda que para poder realizar una solicitud tienes que tener al menos 3 sinodales registrados.
         Si aún no los tienes registralos <a href="{% url 'SETyRS_nueva_solicitud_sinodal' %}"><strong><u>aquí</u></strong></a></p>
    <form id="enviarSolicitud"  action="{% url 'SETyRS_crear_solicitud_examen' %}" method="POST">
        {% csrf_token %}
        <div class="container mb-3">
            <div class="container col-md-5 text-center">
                <label for="select_nivel_educativo">Nivel Educativo</label>
                {% if nivel == '3' %}
                <select class="form-control" name="nivel" id="select_nivel_educativo" required>
                    <option selected disabled hidden>Seleccione el nivel educativo de su solicitud</option>
                    <option value=1>Media Superior</option>
                    <option value=2>Superior</option>
                </select>
                {% elif nivel == '1' %}
                <select class="form-control" name="nivel" id="select_nivel_educativo" required>
                    <option selected value=1>Media Superior</option>
                </select>
                {% else %}
                <select class="form-control" name="nivel" id="select_nivel_educativo" required>
                    <option selected value=2>Superior</option>
                </select>
                {% endif %}
            </div>
        </div>
        <div class="row mb-4">
            <div class="container text-center mb-3">
                <h6>Llena el siguiente formulario correctamente para la creación de la nueva solicitud de exámen a título</h6>
                <p>*Los sinodales deben ser 3 personas distintas</p>
            </div>
            <div class="col-md-2">
                <label for="sel">OPCIÓN DE TITULACIÓN</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="categoria" id="sel" onChange="otrosOnChange(this)">
                    <option  selected hidden>Seleccionar</option>
                    <option value="SEMINARIO DE TITULACION">SEMINARIO DE TITULACION</option>
                    <option value="TESIS EXTERNA">TESIS EXTERNA</option>
                    <option value="INFORME SOBRE SERVICIO SOCIAL">INFORME SOBRE SERVICIO SOCIAL</option>
                    <option value="ESTUDIOS DE POSGRADO">ESTUDIOS DE POSGRADO</option>
                    <option value="EXAMEN GENERAL DE CONOCIMIENTOS">EXAMEN GENERAL DE CONOCIMIENTOS</option>
                    <option value="EXAMEN CENEVAL">EXAMEN CENEVAL</option>
                    <option value="ALTO RENDIMIENTO DE LICENCIATURA">ALTO RENDIMIENTO DE LICENCIATURA</option>
                    <option value="EXPERIENCIA PROFESIONAL">EXPERIENCIA PROFESIONAL</option>
                    <option value="OTROS">OTROS</option>
                </select> 
                
                <div id="nCuenta" style="display:none;">
                    Agregar opción: <input type="text" id="text"><input type="button" onclick="add();" value="Agregar" onkeyup="javascript:this.value=this.value.toUpperCase();" /><br/>
                </div> 
                <script type="text/javascript">
                    function add(){
                    var text = document.getElementById("text");
                    var sel = document.getElementById("sel");
                    
                    var opt = document.createElement("option");
                    
                    opt.appendChild(document.createTextNode(text.value));
                    opt.setAttribute("value", text.value);
                    opt.setAttribute("selected", true);
                    
                    sel.appendChild(opt);
                    divT = document.getElementById("text");
                    divT.value="";
                    divC = document.getElementById("nCuenta");
                    divC.style.display="none";
                    
                    
                    }
                    
                    function see(){
                    alert(document.getElementById("sel").value);
                    }
                    </script>
                
                

            </div>
            


            
        </div>
        <div class="row mb-4"> 
        </div>
        <div class="row mb-4">

            




            <div class="col-md-2">
                <label>PRESIDENTE</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="presidente" id="selectPresidente">
                    <option  selected hidden>Seleccionar</option>
                    {% if sinodales %}
                        {% for s in sinodales %}
                            <option value="{{s.id}}">{{s.nombre_sinodal}}  {{s.rfc}}</option>
                        {% endfor %}
                    {% else %}
                        <option>No tiene sinodales registrados</option>
                    {% endif %}
              </select>
            </div>

            <div class="col-md-2">
                <label>SECRETARIO</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="secretario" id="selectSecretario">
                    <option  selected hidden>Seleccionar</option>
                    {% if sinodales %}
                        {% for s in sinodales %}
                            <option value="{{s.id}}">{{s.nombre_sinodal}}  {{s.rfc}}</option>
                        {% endfor %}
                    {% else %}
                        <option>No tiene sinodales registrados</option>
                    {% endif %}
                  </select>
            </div>

            
        
        </div>
        <div class="row mb-4">
            <div class="col-md-2">
                <label>VOCAL</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="vocal" id="selectVocal" reqired>
                    <option  selected hidden>Seleccionar</option>
                    {% if sinodales %}
                        {% for s in sinodales %}
                            <option value="{{s.id}}">{{s.nombre_sinodal}}  {{s.rfc}}</option>
                        {% endfor %}
                    {% else %}
                        <option>No tiene sinodales registrados</option>
                    {% endif %}
              </select>
            </div>


        </div>
        <div class="row mb-4">

            <div class="col-md-2">
                <label class="form-check-label col-2" for="date">Fecha de Examen</label>
               
            </div>
            <div class="col-md-4">
                 <input type="date" class="form-control col" name="fecha_exa" id="fechaexa" onchange="buscar()" min="2020-08-31" value="" required>
            </div>
            
            <div class="col-md-2">
                <label>Lugar de Examen</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="Lugar_exa" required>
            </div>


        </div>

        <div class="row mb-4">
            
            <div class="col-md-2">
                <label class="form-check-label col-2" for="date">Hora</label>
               
            </div>
            <div class="col-md-4">
                 <input type="time" class="form-control col" name="hora_exa" id="horaexa" min="07:00" max="21:00" value="12:00" required>
            </div>


        </div>




        <div id="buttonContainer" >
            <button id="avanzar" type="submit" class="btn btn-primary mt-3" disabled>Avanzar</button>
            <a href="{% url 'SETyRS_institucion_index' %}" class="btn btn-secondary mt-3">Cancelar</a>
        </div>
    </form>
</div>
<br>
<br>

<!-- Agregar Documento Modal-->
<div id="agregarDocumentoModal" class="modal hide fade in" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formRIT" action="{% url 'SETyRS_guardar_Reglamento' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 style="text-align: center;" class="modal-title">Su centro de trabajo tiene un documento pendiente por subir:<br> Reglamento interior de titulacion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div style="text-align: center;" class="modal-body">
                    <label>CENTRO DE TRABAJO</label><br>
                    <input style="text-align: center;" type="text" class="form-control" data-editable="false" readonly value="{{institucion.cct}}" name="centroTrabajo">
                    <br><br>
                    <label>REGLAMENTO</label>
                    <br>
                    <div style="text-align: left;">
                        <input id="documentoPendiente" name="documentoPendiente" type="file" class="file" data-show-preview="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" disabled="disabled" id="btnGuardar" class="btn btn-success" value="Guardar" disabled>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/institucion/examenes/nueva_solicitud_examenes.js' %}"></script>
<script src="{% static 'js/admins/examenes/nuevaSoli.js' %}" defer></script>
{% endblock %}