
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<meta name="viewport" content="width=[Pixeles del mínimo ancho para visualizar bien la web]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body  class="responsive"><br><br><br>
    <div class="card text-center">
        <div class="card-header">
         A T E N C I Ó N
        </div>
        <div class="card-body">
          <h5 class="card-title">Correo electronico y/o CURP/RFC ya se encuentran registrados</h5>
          <p class="card-text">Favor de verificar la información y posteriormente añadir, el correo electronico y la CURP/RFC son unicos e irrepetibles.</p>
         
           {% if user.tipo_usuario == '4' %}
          <a  href="{% url 'usuarios' %}" class="btn btn-primary" >Ver usuarios</a>
          {% endif %}
          
          {% if user.tipo_usuario != '4' %}
          <a  href="{% url 'perfiluser' %}" class="btn btn-primary" >Regresar</a>
          {% endif %}
        </div>
        <div class="card-footer text-muted">
          SSEMSSICYT
        </div>
      </div>  
</body>
</html>