{% extends 'baseUser.html' %}

{% block title %}Administración{% endblock %}

{% block content %}
<nav class=" navbar navbar-expand navbar-light fixed m-2">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="texto navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link ml-4" href="{% url 'notificacionAdmin' %}">Notificaciones {{total}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="{% url 'logout' %}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
    <div class="m-2">
        <a class="text-dark"> {{ NombreDepartamento }} </a>
        <a class="float-right mr-2"> - {{ user.first_name }} {{ user.last_name }}</a>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-12 text-center mt-2 mb-1">
            <h3>Folio: {{solicitud.id}} -  Institución: {{solicitud.customuser.first_name}} {{solicitud.customuser.last_name}}</h3>
        </div>
        <div class="col-12 text-center mb-2">
            <h3>
                Modalidad:
                {%if solicitud.modalidad == '2' %}
                    Escolarizada
                {%endif%}
                {%if solicitud.modalidad == '1' %}
                    Mixta
                {%endif%}
                {%if solicitud.modalidad == '3' %}
                    No escolarizada
                {%endif%}
                - Nivel: Superior
            </h3>
        </div>
        <div class="col-12 text-center mb-1">
            <h3>Carpeta Académica</h3>
        </div>

        {% for archivo in archivos %}

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_1" action="../comentarios/4_1/academica">
                    {% csrf_token %}
                    {% if "4_1" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Relación de recursos bibliográficos<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Relación de recursos bibliográficos</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="rec_bibliograficos" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.rec_bibliograficos.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_2" action="../comentarios/4_2/academica">
                    {% csrf_token %}
                    {% if "4_2" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Relación de recursos didácticos<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Relación de recursos didácticos</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="rec_didacticos" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.rec_didacticos.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_3" action="../comentarios/4_3/academica">
                    {% csrf_token %}
                    {% if "4_3" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Talleres<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Talleres</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="talleres" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.talleres.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_4" action="../comentarios/4_4/academica">
                    {% csrf_token %}
                    {% if "4_4" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Infraestructura de apoyo informático<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Infraestructura de apoyo informático</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="apoyo_informatico" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.apoyo_informatico.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_5" action="../comentarios/4_5/academica">
                    {% csrf_token %}
                    {% if "4_5" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Apoyo de comunicaciones<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Apoyo de comunicaciones</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="apoyo_comunicaciones" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.apoyo_comunicaciones.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-3 mt-1">
            <div class="card-body border border-dark text-center">
                <form method="post" id="4_6" action="../comentarios/4_6/academica">
                    {% csrf_token %}
                    {% if "4_6" in comentarios and solicitud.completado != 10 %}
                    <p class="card-text text-danger" >Personal<br>
                        <small>*Este archivo tiene observaciones</small></p>
                    {% else %}
                    <p class="card-text" >Personal</p>
                    {% endif %}
                    <textarea placeholder="Comentario..." id="personal" name="descripcion"></textarea>
                    <button onclick="mostrarPDF('{{ archivo.personal.url }}')" type="button" class="btn btn-secondary">Ver</button>
                    {% if solicitud.completado != 10 %}
                        <button type="submit" class="btn btn-danger mt-1" type="button" name="button">Poner Comentarios</button>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col mt-3 mb-3 text-center">
        <a class="btn btn-info" href="../comentarios/mostrar/academica">Ver Comentarios</a>
        {% if solicitud.completado != 10 and estadoComentario == '0' or estadoComentario == '2' %}
            {% if comentarios == "" %}
                <a onclick="terminar(0)" id="TRevision" class="btn btn-secondary" href="" >Terminar revisión</a>
            {% else %}
                {% if comentarioMostrado %}
                    {% if comentarioNoMostrado %}
                        <a onclick="terminar(2)" id="TRevision" class="btn btn-secondary" href="" >Terminar revisión</a>
                    {% else %}
                        <a onclick="terminar(0)" id="TRevision" class="btn btn-secondary" href="" >Terminar revisión</a>
                    {% endif %}
                {% else %}
                    <a onclick="terminar(1)" id="TRevision" class="btn btn-secondary" href="" >Terminar revisión</a>
                {% endif %}
            {% endif %}
        {% endif %}

        <embed src="" type="application/pdf" id="pdf" width="100%" height="600px" />

        <a class="btn btn-secondary" href="../curricular">Anterior Carpeta</a>
        <a class="btn btn-secondary" href="{% url 'admin' %}">Inicio</a>
    </div>
</div>

<script>
    function terminar(estado){
        var btnTerminar = document.getElementById("TRevision")
        switch(estado){
            case 0:
                var opcion = confirm("Esta solicitud pasará a ser revisada por la siguiente área ¿Desea terminar la revisión?")
                break
            case 1:
                var opcion = confirm("Se le notificarán los comentarios introducidos al usuario de la institución correspondiente y estos ya no podrán modificarse o eliminarse ¿Desea terminar la revisión?")
                break
            case 2:
                var opcion = confirm("Se le introdujeron nuevos comentarios a esta solicitud, la misma será cancelada ¿Desea terminar la revisión?")
                break
        }

        if (opcion == true) {
            btnTerminar.href = "../terminado"
        }
    }

    document.getElementById('pdf').style.display = 'none';
    function mostrarPDF(ruta){
        document.getElementById('pdf').style.display = 'inline';
        document.getElementById("pdf").setAttribute("src", ruta+"#toolbar=0&navpanes=0&scrollbar=0");
    }
</script>
{% endblock %}
